/* Font */
body, html .fc, .fc table, #calendarTitle, .calendar-container, input, textarea, select, button {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/***********************************
* General Calender styling
***********************************/

/* Background */
body[style] {
    background-color: inherit !important;
}

/* Hide buttons that need fixing */
#td-print-image-id, #td-print-text-id, .logo-plus-button, .logo-plus-button > div {
    display: none;
}

/* Change border and ect. */
.view-cap, .view-container-border, .ui-rtsr-selected, .mv-daynames-table, .st-dtitle {
    background-color: #DDDDDD;
}

.mv-event-container {
    background-color: #fff;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.ui-rtsr-unselected {
    color: black;
    background-color: inherit;
}

td > img, .date-picker-on, .bubble-closebutton {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

/* Weekdays and cell date */
.mv-daynames-table, .mv-dayname, .dp-cur, .dp-prev, .dp-next {
    color: black;
}

.dp-weekday-selected, .dp-weekend-selected, .dp-dayh, tr#dpPopup1_header {
    background-color: #DDDDDD;
}

/* remove border pop-up, add shadow */
.dp-monthtablediv, .dp-popup, .calendar-list {
    border: none;
}

.dp-popup, .calendar-list {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

/* Today button  */
.today-button {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    padding: 0 .5rem;
    font-size: 13px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #888888;
}

.today-button:hover {
    text-decoration: none;
    color: #fff;
    background-color: #5f5f5f;
}

/*****************
* Month styling
*****************/

/* Today */
.st-dtitle-today {
    /*background-color: #b90f15 !important;*/
    background: #b90f15 !important;
    border: 1px solid #b90f15;
    color: #fff;
    font-weight: bold;
}

.st-bg-today, .st-bg-td-first {
    border-left: 1px solid #b90f15;
    border-right: 1px solid #b90f15;
    border-bottom: 1px solid #b90f15;
    background: #f8e7e7;
}

/* Calendar items */
/* Normal item */
.ca-evp1.te[style], .te[style] {
    color: black !important;
}

.ca-evp1[style] {
    color: white !important;
    border: black !important;
}

/* More days*/
.rb-n[style] {
    background-color: #b90f15 !important;
}

a:-webkit-any-link {
    color: #666666;
}

.separator[style] {
    background-color: #666666 !important;
}

/*****************
* Agenda styling
*****************/

.agenda .date-label {
    background: #b90f15 !important;
    color: white !important;
}

span.event-title, span.title {
    color: black !important;
}

.agenda-more {
    color: #666 !important;
}

/*****************
* Week styling
*****************/

/*WIP*/